<div class="login">
  <div [ngClass]="body">
    <form>
      <div [ngStyle]="{'paddingBottom': 40 + 'px' }">
        <img src="../../../assets/logoLogin.svg" />
      </div>
      <h1>Olá, faça login em sua conta</h1>
      <div *ngIf="showErr"  [ngStyle]="{'paddingTop': '20px' }" >
        <p [ngStyle]="{'color': 'red' }" >É necessário preencher todos os campos*</p>
      </div>
      <div *ngIf="showErrAut"  [ngStyle]="{'paddingTop': '20px' }" >
        <p [ngStyle]="{'color': 'red' }" >Usuário ou senha incorretos</p>
      </div>
      <div [ngClass]="container" >
        <label for="login" [ngClass]="email"  >Email</label>
        <input type="email" required   [ngClass]="emailInput"  [(ngModel)]="login" name="login"  placeholder="Email">
        <label for="password" >Senha</label>
        <input type="password"  [(ngModel)]="password" name="password" placeholder="Senha">
        <button type="submit" (click)="logar()">
          Entrar
        </button>
      </div>
    </form>
  </div>
</div>
