/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.class{
  margin-bottom: 1em;
}
.login{
  background: #EFF2F9;
}
